<html>
    <head>
        <title> Let's learn ansible</title>
    </head>
    <body>
        <h1>Nginx, configured by ansible</h1>
        <p>Running on {{ inventory_hostname }}</p>
    </body>
</html>
